html {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

body .active-preloader-ovh {
    overflow: hidden;
}

.preloader {
    background-color: #F9B;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.preloader .spinner {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    background-color: #171717;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

/*
.carousel-bg {
    background: url("../img/aisi.jpg")no-repeat 0px 0px;
    background-position: right bottom;
}
*/

/*
.carousel-bg-1{
    background: url("../img/lufei.jpg")no-repeat 0px 0px;
    background-position: right bottom;
}
*/

.textcarousel {
    display: block;
    position: relative;
    margin-top: 0;
    margin-bottom: 100px;
    padding: 92px 0;
    font-family: DaunPenh;
}

.textcarousel h3 {
    font-family: Verdana;
    font-size: 3.5rem;
    color: #1b1e21;
}

.textcarousel p {
    font-family: Arial;
    font-size: 2rem;
    color: #1d2124;
}

.carousel-bg:nth-child(3) h3 {
    color: #dc5e5ea6;
}

.carousel-bg:nth-child(3) p {
    color: #dc5e5ea6;
}

.carousel-bg img {
    max-width: 100%;
    height: 800px;
    overflow: hidden;
}

.carousel-bg:nth-child(2) h3 {
    font-family: Verdana;
    color: #568188;
    font-size: 3rem;
}

.navfont {
    font-size: 1.2rem;

}

.navfa a {
    color: red;
}

#navbarContent:nth-child(6) {
    margin-right: 0;
}

.aflag a {
    color: #ffffff;
}

.block-menu {
    background-image: linear-gradient(to right, #3de8a8 0%, #ecfa9a 51%, #e8293a 100%);
    border-radius: 30px;
    background-size: 200% auto;
    border-style: none;
    color: #fff;
    font-weight: 700;
    padding: 6px 22px !important;
    transition: 0.5s;
    text-transform: capitalize;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.ulli li:nth-child(1) {
    font-weight: bold;
}

.ulli li:nth-child(6) {
    margin-left: 100px;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #cc2222;
!important;
}

.navbar-dark.navbar-nav.active {
    color: #34ce57;
}

/*
.ulli li a{
    color: #d8e4dbc4;
}*/
.navbar-dark .navbar-nav .nav-link {
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    color: #ffffff;
!important;
}

.navbar-dark.navbar-nav > a:hover {
    color: #34ce57;
}

.bgnews {
    background-color: #f6f5f1;
}

#news, #about, #navtabs, #ourteam, #download {
    padding: 50px 0;
}

.titlefind h2 {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0 13px;

}

.titlefind p {
    margin: 0 119px;
    font-size: 2rem;
    padding-bottom: 15px;
}

.titlefind hr {
    height: 0px;
    width: 10%;
    border: 3px solid #ca2121;
}

.fever h2 {
    font-family: "Sentinel SSm A", "Sentinel SSm B", serif;
    font-size: 3rem;
}

.fever img {
    margin-top: 15px;
    width: 100%;
    height: 416px;
    margin-bottom: 15px;
}

.fever p {
    font-family: Arial;
    font-size: 1.2rem;
    text-indent: 32px;
    float: left;
}

.godsecond {
    transition: 0.3s;
}

.godsecond a {
    /*color: #b98477;*/
    font-size: 1.3rem;
    float: right;
}

.godsecond a {
    transform: translate(-50px);
}

.godsecond a:hover {
    transition: 1s;
    transform: translate(0px);
}

.godsecond a:focus {

}

.bgabout {
    background-color: #ad9d9d;
}

.bgabout h4 {
    margin-top: 15px;
    font-size: 1.8rem;
}

/*
.right1{
padding-right: 50px;
}*/
.bgabout img {
    margin-top: 30px;
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 6px 3px rgba(37, 66, 37, 0.5);
}

.bgnavtabs {
    background-color: #f6f5f1;
    font-family: Arial;
}

.bgnavtabs li a {
    color: #ef0808;
    font-size: 1.2rem;
}

.bgnavtabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0e86f1;
    background-color: #e0cccc;

}

.bgnavtabs p {
    vertical-align: middle;
!important;
    padding: 32px 15px 0 0;
    text-indent: 2rem;
    font-size: 1.1rem;
}

.bgnavtabs img {
    box-shadow: 1px 2px 2px 0 #524a4a;
}

#second img {
    margin-top: 15px;
}

#four img {
    margin-top: 40px;
}

.findteam h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: #171717;

}

.findteam p {
    color: #707070;
    font-size: 18px;
    margin: 0;
}

.hr {
    background: #00bcd4 none repeat scroll 0 0;
    border-radius: 2px;
    display: block;
    height: 5px;
    width: 60px;
    margin: 20px auto;
}

.teamchild {
    margin: 20px 200px 0 200px;
}

@media screen and (max-width: 500px) {
    .teamchild {
        margin: 0;
    }

    .bgchange {
        background-color: #34ce57;
    }
}

.teamchild img {
    width: 100%;

}

/*
.findteam .card-header{
    opacity: 0;!important;
}*/
.findteam .card-body {
    padding: 0;
}

.teamchild .card {
    margin: 15px;
    box-shadow: 0px 2px 2px 0px #1d2124;
}

.teamchild span {
    color: red;
    font-size: 1rem;
}

.teamchild i {
    color: red;
}

.teamchild .card-text {
    color: #1d2124;
    font-size: 16px;
}

.bgchange {
    background-color: #d4abafb8;
}

.padder {
    padding: 5px 15px 5px 15px;
}

.download {
    background-image: linear-gradient(45deg, #292524 25%, #332e2d 50%, #292524 75%);
}

.download h2 {
    margin-bottom: 20px;
    color: white;
}

.download p {
    margin-bottom: 30px;
    text-indent: 2rem;
    color: white;
}

.vtime {
    margin-top: 50px;
}

.vtime button {
    background: #c9c6d8;
}

#footcontent {
    padding-top: 50px;
    background: #252121;
    color: #f7f7f7;
}

.footertop {
    color: #f7f7f7;
    margin-top: 30px;
}

.borderrepeat {
    border: 1px solid coral;
    /*margin-left: -10px;*/
}

.borderrepeat p {
    /*margin: auto 3px ;*/
    margin: 8px 2px 8px 18px;
}

.footertop ul {
    margin-top: 20px;
    padding:  0;
}

.footertop ul li {
    list-style: none;
    padding: 3px;
}

.footertop ul li a {
    color: #f7f7f7;
    font-size: 1.2rem;
    text-decoration: none;
}

.footertop ul li a:hover {
    color: #17a2b8;
}

.copys {
    margin-top: 20px;
}

.copys .breadcrumb {
    background: #b36e6e;
!important;
}

.copys .breadcrumb-item + .breadcrumb-item::before {
    color: #351d16;
}

.copys ol li a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
    /*nav导航修改*/
    .navbar {
        padding: 0 1rem;
        box-shadow: 0px 0px 5px #3c2e35;
    }

    .navfont {
        font-size: 0.8rem;
    }

    .navfont img {
        width: 50px;
        height: 30px;
    }

    /*轮播图修改*/
    .textcarousel {
        margin-bottom: 30px;
        padding: 0;
    }

    .carousel-bg img {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .textcarousel h3 {
        font-size: 2.5rem;
    }

    .carousel-bg:nth-child(2) h3 {
        font-size: 2.5rem;
    }

    .textcarousel p {
        font-size: 1.4rem;
    }

    .carousel-bg:nth-child(3) img {
        opacity: 0.9;
    }

    .carousel-bg:nth-child(3) h3 {
        color: rgb(255, 255, 255);
    }

    .carousel-bg:nth-child(3) p {
        color: rgb(255, 255, 255);
    }

    /*卡片修改*/
    .teamchild {
        margin: 20px 0px 0 0px;
    }

    .teamchild h5 {
        font-size: 1rem;
    }

    .card-footer {
        padding: 0.1rem 1.25rem
    }

    /*news修改*/
    .titlefind h2 {
        font-size: 2.8rem;
    }

    .titlefind p {
        font-size: 1.5rem
    }

    .titlefind hr {
        border-radius: 5px;
    }

.fever{
    padding: 0 30px ;
}
    .fever p {
        font-size: 1rem;
    }

    .fever h2 {
        font-size: 2.5rem;
    }
    /*tabs*/
    .bgnavtabs p {
        font-size: 1rem;
    }

    .teamchild .btn {
        padding: 0;
    }

    .padder {
        padding: 5px 7px 5px 7px;
    }

    /*footer修改*/
    .borderrepeat p {
        margin: 7px 2px 8px 6px;
        font-size: 0.85rem;
    }
    .footertop h3{
        font-size: 1.1rem;
        font-weight: 700;
    }
    .footertop ul li a{
        font-size: 1rem;
    }
    .firetfoot ul li a{
        font-size: 0.8rem;
    }
    /*copyright*/
    .contact-info{
        font-size: 0.7rem;
    }
    }
@media screen and (max-device-width: 768px){
    /*nav*/
    .ulli li:nth-child(6) {
        margin-left: 20px;
    }
}